//colors
$red: red;
$black_16: rgba(0,0,0,.16);
$black_12: rgba(0,0,0,.12);
$color_gray_nurse_approx: #eaeaea;
$color_azure_radiance_approx: #007bff;
$color_celeste_approx: #ccc;
$color_royal_blue_approx: #4285f4;
$white: #fff;
$color_storm_dust_approx: #606060;
$black_50: rgba(0,0,0,.5);
$color_congress_blue_approx: #003d7f;
$color_delta_approx: #a2a2a2;

//urls
$url_0: url(/images/youtube-icon.png);
$url_1: url(/images/twitter-icon.png);

.logo1 {
	text-align: center;
	margin-bottom: 25px;
	img {
		width: 85%;
	}
}
.login-register {
	margin: auto;
	width: 400px;
	padding: 10px;
	> .card {
		border: 1px solid;
		padding: 20px;
	}
}
.hide {
	display: none;
}
error {
	color: $red;
	font-size: 12px;
	line-height: 12px;
}
.user-card {
	width: 47.2%;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 5px 0 $black_16, 0 2px 10px 0 $black_12;
	float: left;
	margin: 0 10px 25px;
	h4 {
		margin: 0;
		background: $color_gray_nurse_approx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		color: $color_azure_radiance_approx;
	}
	ul {
		padding: 0 10px;
		margin: 0;
		li {
			list-style: none;
			display: flex;
			justify-content: space-between;
			padding: 10px 5px;
			border-bottom: 1px solid $color_celeste_approx;
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
.button-style {
	background: $color_royal_blue_approx;
	color: $white;
	padding: 5px 15px;
	border: none;
	cursor: pointer;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 5px 0 $black_16, 0 2px 10px 0 $black_12;
}
.list-group-item-action {
	width: initial;
}
.new-user-button {
	margin-bottom: 15px;
	text-align: right;
}
.popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $black_50;
	display: none;
	z-index: 9999;
}
.popup-container {
	margin: 50px auto;
	background: $white;
	border: 4px solid $color_congress_blue_approx;
	width: 45%;
}
.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $color_gray_nurse_approx;
}
.title {
	flex-basis: 100%;
	text-align: center;
	font-size: 23px;
	padding: 8px;
}
button {
	cursor: pointer;
	outline: none;
	&.popup-close {
		border: none;
		padding: 0;
		width: 35px;
		height: 35px;
		background: $color_congress_blue_approx;
		margin-top: -15px;
		span {
			width: 25px;
			height: 2px;
			background: $white;
			display: inline-block;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 10px;
			&:nth-child(1) {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(-45deg) translate(17px,-17px);
			}
		}
	}
	&:focus {
		outline: none;
	}
}
.body {
	padding: 15px;
}
.add-btn {
	float: left;
	width: 100%;
	margin-bottom: 15px;
	border-bottom: 1px solid $color_celeste_approx;
	padding-bottom: 15px;
	button {
		float: none;
		margin-left: 15px;
	}
}
.form-group {
	&.full-w-8 {
		width: 75% !important;
	}
	.form-control:focus {
		outline: none;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
	}
}
.thumb-image-show {
	padding: 0 15px;
	margin-bottom: 15px;
	float: left;
	width: 25%;
	label {
		display: block;
	}
	img {
		width: 200px;
		height: 200px;
		max-width: 200px;
		max-height: 200px;
		border: 4px solid $color_celeste_approx;
		padding: 4px;
	}
}
.thumb-image-block {
	position: relative;
	width: 200px;
	height: 200px;
	max-width: 200px;
	max-height: 200px;
	input[type=file] {
		padding: 3px;
		opacity: 0;
		position: absolute;
		z-index: 2;
		cursor: pointer;
		height: 100%;
	}
}
.mce-ico {
	&.mce-i-youtube {
		background: $url_0;
		width: 16px;
		height: 16px;
	}
	&.mce-i-twitter {
		background: $url_1;
		width: 16px;
		height: 16px;
	}
}
.select-popup-btn {
	display: flex;
	justify-content: flex-start;
	button {
		flex-basis: 30%;
		background: $color_azure_radiance_approx;
		color: $white;
		font-size: 18px;
		border: none;
		padding: 6px 0;
		text-transform: capitalize;
		margin: 0 15px 0 0;
	}
}
h3.box-title {
	font-size: 20px;
	text-align: center;
}
section#wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%,-50%);
}
ol.list-li {
	margin-top: 15px;
	li {
		margin-bottom: 15px;
		.name {
			font-weight: 600;
			color: $color_storm_dust_approx;
		}
		.descr {
			font-size: 14px;
		}
	}
}
body.grey.lighten-3.popup-open {
	overflow: hidden;
}
.message form {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0 15px;
	margin-bottom: 15px;
	.project {
		flex-basis: 33%;
	}
	.role {
		flex-basis: 33%;
		border: 1px solid $color_celeste_approx;
		position: relative;
		&:after {
			content: '';
			width: 15px;
			height: 15px;
			position: absolute;
			right: 6px;
			top: 5px;
			border-bottom: 2px solid $color_delta_approx;
			border-right: 2px solid $color_delta_approx;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(45deg);
			z-index: 1;
		}
		select {
			border: none;
			background: none;
			width: 100%;
			padding: 4px;
			position: relative;
			z-index: 2;
			&:focus {
				outline: none;
			}
		}
	}
	button {
		background: $color_congress_blue_approx;
		border: none;
		color: $white;
		font-size: 18px;
		padding: 3px 20px;
	}
}
ul.project-list {
	padding: 0;
	margin: 0;
}
form.article-form .form-group {
	float: left;
	width: 50%;
	padding: 0 15px;
	label {
		width: 100%;
	}
	&.full-w {
		width: 100%;
	}
	&.btn-full-w button {
		margin-top: 6px;
	}
}
.full-w-8 textarea {
	resize: none;
	height: 100px;
}