.logo1 img {width: 85%;}
.logo1 {text-align: center; margin-bottom: 25px;}
.login-register {margin: auto; width: 400px; padding:10px;}
.login-register>.card{border:1px solid; padding:20px;}
h3.box-title{font-size: 20px; text-align: center;}
.hide{display:none;}
error {color: red; font-size: 12px; line-height: 12px;}
section#wrapper {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.user-card {width: 47.2%; box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); float: left; margin: 0 10px 25px;}
.user-card h4 {margin: 0; background: #eaeaea; display: flex; justify-content: space-between; align-items: center; padding: 10px 10px; color: #007bff;}
.user-card ul {padding: 0 10px; margin: 0;}
.user-card ul li {list-style: none; display: flex; justify-content: space-between; padding: 10px 5px; border-bottom: 1px solid #ccc;}
.user-card ul li:last-child{border-bottom: none;}
.button-style {background: #4285f4; color: #fff; padding: 5px 15px; border: none; cursor: pointer; box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
.list-group-item-action{width: initial;}
.new-user-button {margin-bottom: 15px; text-align: right;}
ol.list-li {margin-top: 15px;}
ol.list-li li {margin-bottom: 15px;}
ol.list-li li .name {font-weight: 600;color: #606060;}
ol.list-li li .descr {font-size: 14px;}
body.grey.lighten-3.popup-open {overflow: hidden;}
.popup {position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.5); display: none; z-index: 9999;}
.popup-container {margin: 50px auto; background: #fff; border: 4px solid #003d7f; width: 45%;}
.heading {display: flex; justify-content: space-between; align-items: center; background: #eaeaea;}
.title {flex-basis: 100%; text-align: center; font-size: 23px; padding: 8px;}
button.popup-close {border: none; padding: 0; width: 35px; height: 35px; background: #003d7f; margin-top: -15px;}
button.popup-close span {width: 25px; height: 2px; background: #fff; display: inline-block; border-radius: 10px;}
button.popup-close span:nth-child(1) {transform: rotate(45deg);}
button.popup-close span:nth-child(2) {transform: rotate(-45deg) translate(17px,-17px);}
.body {padding: 15px;}
button{cursor: pointer; outline: none;}
button:focus{outline: none;}
.message form {display: flex; width: 100%; justify-content: space-between; padding: 0 15px; margin-bottom: 15px;}
.message form .project {flex-basis: 33%;}
.message form .role {flex-basis: 33%; border: 1px solid #ccc; position: relative;}
.message form .role:after {content: ''; width: 15px; height: 15px; position: absolute; right: 6px; top: 5px; border-bottom: 2px solid #a2a2a2; border-right: 2px solid #a2a2a2; transform: rotate(45deg); z-index: 1;}
.message form .role select {-webkit-appearance: none; border: none; background: none; width: 100%; padding: 4px; position: relative; z-index: 2;}
.message form .role select:focus{outline: none;}
.message form button {background: #003d7f; border: none; color: #fff; font-size: 18px; padding: 3px 20px;}
ul.project-list{padding: 0px; margin: 0px;}
.add-btn {float: left; width: 100%; margin-bottom: 15px; border-bottom: 1px solid #ccc; padding-bottom: 15px;}
.add-btn button {float: none; margin-left: 15px;}
form.article-form .form-group {float: left; width: 50%; padding: 0 15px;}
form.article-form .form-group label {width: 100%;}
.form-group .form-control:focus{outline: none; box-shadow: none;}
.thumb-image-show{padding: 0 15px; margin-bottom: 15px; float: left; width: 25%;}
.thumb-image-show label {display: block;}
.thumb-image-show img{width: 200px; height: 200px; max-width: 200px; max-height: 200px; border: 4px solid #ccc; padding: 4px;}
.form-group.full-w-8 {width: 75% !important;}
.thumb-image-block {position: relative; width: 200px; height: 200px; max-width: 200px; max-height: 200px;}
.thumb-image-block input[type=file] {padding: 3px; opacity: 0; position: absolute; z-index: 2; cursor: pointer; height: 100%;}
form.article-form .form-group.full-w {width: 100%;}
form.article-form .form-group.btn-full-w button {margin-top: 6px;}
.mce-ico.mce-i-youtube {background: url(/images/youtube-icon.png); width: 16px; height: 16px;}
.mce-ico.mce-i-twitter {background: url(/images/twitter-icon.png); width: 16px; height: 16px;}
.select-popup-btn {display: flex; justify-content: flex-start;}
.select-popup-btn button {flex-basis: 30%; background: #007bff; color: #fff; font-size: 18px; border: none; padding: 6px 0; text-transform: capitalize; margin: 0 15px 0 0;}
.full-w-8 textarea {resize: none; height: 100px;}
#example td button {margin: 0 0 0 15px;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: none;
    background-color: #4285f4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4285f4), color-stop(100%, #4285f4));
    background: -webkit-linear-gradient(top, #4285f4 0%, #4285f4 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #4285f4 0%, #4285f4 100%);
}